<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    @* <link rel="stylesheet" type="text/css" href="~/css/styles.css" /> *@
  </head>
  <body>
    <h1>Welcome to Our Bakery! </h1>
    <a  class ="btn btn-primary "href='/vendors'>Here is the list of Vendors!</a> <br>
    <a  class ="btn btn-success" href='/vendors/new'>Click here to Add a new Vendor</a>
  </body>
</html>